{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Change User Status</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><h2>Planner</h2></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_list' %}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search_user' %}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'change_status_no_arg' %}">Manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% if user %}
    <h2>User Information</h2>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Pension Number:</strong> {{ user.pension_number }}</p>
    <p><strong>Status:</strong> {{ user.status }}</p>

    <!-- Your form for changing status goes here -->

{% else %}
    <h2>No User Found</h2>
    <p>Sorry, no user found with the specified pension number.</p>
{% endif %}

</body>
</html>
